<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>

# Disable directory browsing
Options -Indexes

# Handle Authorization Header
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

# Force HTTPS
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteCond %{HTTPS} off
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#</IfModule>

# PHP settings
<IfModule mod_php.c>
    php_value max_execution_time 30
    php_value max_input_time 60
    php_value memory_limit 256M
    php_value post_max_size 8M
    php_value upload_max_filesize 2M
    php_flag display_errors off
    php_flag log_errors on
</IfModule>
